.title{
    color: #221C35;
}

.description{
    color: #221C35;
}

.iconColor{
    color: #307674;
}

.flexColReverseSm {
    @media (max-width: 640px) { /* Atur batasan lebar untuk dimensi sm sesuai kebutuhan Anda */
      flex-direction: column-reverse;
    }
  }
