.section1{
    background-image: linear-gradient(to right, #54BAB9, #E9DAC1);
    height: 85%;
}

.title{
    color: #fafafa;
}

.description{
    color: #fafafa;
}

.button{
    background-color: #fafafa;
}